@inherits LayoutComponentBase

<NavMenu />

<div class="page">
    <div class="container-fluid mt-2">
        <div class="container-md">
            @Body
            <br />
        </div>
    </div>
</div>
